<style type="text/css">
html { height: 100% }
body { height: 100%; margin: 0; padding: 0 }
#map_canvas { height: 100% }
</style>
<script>
	function geoFindMe(type) {
		var output = document.getElementById("out");

		if (!navigator.geolocation){
			output.innerHTML = "<p><font size=30pt>Geolocation is not supported by your browser<font></p>";
			return;
		}

		function success(position) {
			var latitude  = position.coords.latitude;
			var longitude = position.coords.longitude;
			output.innerHTML = '<p><font size=30pt>Location Found.Redirecting.<font></p>';
			theUrl = "charger?type=" + type + "&lat=" + latitude + "&lon=" + longitude;
			var xmlHttp = new XMLHttpRequest();
			xmlHttp.onreadystatechange = function() { 
				if (xmlHttp.readyState == 4 && xmlHttp.status == 200)
					arraytohtmltable(xmlHttp.responseText,type)
			}
			xmlHttp.open("GET", theUrl, true); 
			xmlHttp.send(null);	
			output.innerHTML = '<p><font size=30pt><font></p>';
		};

		function error() {
			output.innerHTML = "<p><font size=30pt>Unable to retrieve your location<font></p>";
		};

		output.innerHTML = "<p><font size=30pt>Locating…<font></p>";

		navigator.geolocation.getCurrentPosition(success, error);
	}

	function arraytohtmltable(data,type) {
		var rows = JSON.parse(data);
		var locations = [];
		var html = '</br>';
		html += '<div class="container-fluid layer"> ';
		html += '<div class="row"><h2 class="section-heading">Carpark List of type '+type+'</h2></div><hr>';
		html += '<div class="row addline">';
		html += '<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">Name</p></div>';
		html += '<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">Address</p></div>';
		html += '<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">Charger fee</p></div>';
		html += '<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">Parking fee</p></div>';
		html += '<div class="col-md-1 col-sm-1 col-xs-1"><p class="carparkdata">Availability</p></div>';
		html += '<div class="col-md-3 col-sm-3 col-xs-3"><p class="carparkdata">Estimated time of arrival</p></div>';
		html += "</div>"
		for( var i = 0; i < rows.length; i++) {
			html += '<div class="row addline">'
			html +='<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">'+rows[i].name+'</p></div>';
			html +='<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata"><a href="https://www.google.com/maps/dir/?api=1&destination='+rows[i].address+'" target="_blank";>'+rows[i].address+'</a></p></div>';
			html +='<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">'+rows[i].charger_fee+'</p></div>';
			html +='<div class="col-md-2 col-sm-2 col-xs-2"><p class="carparkdata">'+rows[i].parking_fee+'</p></div>';
			html +='<div class="col-md-1 col-sm-1 col-xs-1"><p class="carparkdata">'+rows[i].availability+'</p></div>';
			html +='<div class="col-md-3 col-sm-3 col-xs-3"><p class="carparkdata">'+rows[i].est+'</p></div>';
			carparklocaltion =[rows[i].name, rows[i].carpark_latitude, rows[i].carpark_longitude, rows[i].address, rows[i].availability];
			locations.push(carparklocaltion)
			html += '</div>';
		}
		html += '</div>';
		document.getElementById('htmltablefromarray').innerHTML = html;
		initialize(locations)
	}
</script>
<script src="http://maps.google.com/maps/api/js?sensor=false&language=zh-TW">
</script>




<script>



	function initialize(locations) {

		var myOptions = {
			center: new google.maps.LatLng(33.890542, 151.274856),
			zoom: 8,
			mapTypeId: google.maps.MapTypeId.ROADMAP

		};
		var map = new google.maps.Map(document.getElementById("map"),
			myOptions);

		setMarkers(map,locations)

	}



	function setMarkers(map,locations){

		var marker, i

		for (i = 0; i < locations.length; i++)
		{  

			var name = locations[i][0]
			var lat = locations[i][1]
			var long = locations[i][2]
			var add =  locations[i][3]
			var availability = locations[i][4]

			latlngset = new google.maps.LatLng(lat, long);

			var marker = new google.maps.Marker({  
				map: map, title: name , position: latlngset  
			});
			map.setCenter(marker.getPosition())


			var content = "Carpark Details"+'</br>'+"Name: " + name +  '</br>' + "Address: " + add + '</br>'+"Status: "+ availability
			var infowindow = new google.maps.InfoWindow()

			google.maps.event.addListener(marker,'click', (function(marker,content,infowindow){ 
				return function() {
					infowindow.setContent(content);
					infowindow.open(map,marker);
				};
			})(marker,content,infowindow)); 

		}
	}
</script>

<!-- Header -->
<header class="masthead">
	<div class="container">
		<div class="intro-text">
			<div class="intro-lead-in"><font color="black">Welcome To Our Web-Protrol!</font></div>
			<div class="intro-heading text-uppercase"><font color="black">It's Nice To Meet You</font></div>
			<a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
		</div>
	</div>
</header>
<section class="bg-white" id="about">
	<center>  
		<h2 class="section-heading ">
			About
		</h2>
		<hr>
		This is a "easy access smart portal” which can report the status of the EV charging stations and the chargers in<br>
		HK so as to provide an easy way for YOU to access What you have to do is just select YOUR socket type and nothing!
	</center>
</section>

<section id="select">
	<center>                      
		<h2 class="section-heading ">We've got what you need!</h2><hr>
		Please select your socket type
		<div class="container"> 
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('bs1363')" ;return false;">BS1363</a></div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('iec62196')" ;return false;>IEC 62196</a></div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('saej1772')" ;return false;>SAE J1772</a></div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('chademo')" ;return false;>CHAdeMO</a></div>
			</div>
			<div class="row">
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('gb20234')";return false;>GB 20234.2</a></div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('ccsdccombo')";return false;>CCS DC Combo</a></div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('teslawallconnector')";return false;>Tesla Wall Connector</a></div>
				<div class="col-md-3 col-sm-3 col-xs-6"><a href="#result" class="btn btn-sm animated-button victoria-four" onclick="geoFindMe('teslasupercharger')";return false;>Tesla Supercharger</a></div>
			</div>
		</div>
		<br>
	</center>
</section>


<section class="bg-white masthead" id="result">
	<center>
		<div id="out">Carpark data will be shown here when u press the button above</div>
		<div id="htmltablefromarray"> </div>
		<div id="map"></div>

	</center>
</section>

<section>
	<div class="container"> 
		<div class="row">
			<p class="text-center"> <font color="black" >This website is a Final Year Project 
				<br>@The Hong Kong Polytechnic University 
				<br>Electrical Engineering
				<br>Supervised by Prof.WL CHAN
				<br>Created by student 14074565D
				<font>
				</p>			
			</div>
		</div>
	</center>
</section>
