<div class="footer">
  <p class="text-center"> <font color="white" >Final Year Project @The Hong Kong Polytechnic University Electrical Engineering
    <br>Created by student 14074565D
    <font>
  </p>
</div>
