<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
            <a class="active"><a class="navbar-brand" href="/">Web-Portal for EV Charging Stations </a>
    </div>
    <ul class="nav navbar-nav">
      <li><a class="navbar-brand" href="/bs1363">BS1363</a></li>
      <li><a class="navbar-brand" href="/iec62196">IEC 62196</a></li>
      <li><a class="navbar-brand" href="/saej1772">SAE J1772</a></li>
      <li><a class="navbar-brand" href="/chademo">CHAdeMO</a></li>
      <li><a class="navbar-brand" href="/gb20234">GB 20234.2</a></li>
      <li><a class="navbar-brand" href="/cssdccombo">CCS DC Combo</a></li>
      <li><a class="navbar-brand" href="/teslawallconnector">Tesla Wall Connector</a></li>
      <li><a class="navbar-brand" href="/teslasupercharger">Tesla Supercharger</a></li>
</ul>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li> <%= link_to("Admin Login", '#') %> </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>